.root {
  text-align: center;
  max-width: 24rem;
  margin: 0 auto;
}

.root > svg path {
  stroke-width: 2.5px;
}

.root > svg > g > g:nth-child(3) path {
  stroke-width: 1.5px;
}

.root > svg > g > g:nth-child(3) {
  transform-origin: center;
  transform: translateX(-1em) rotate(1deg) rotateY(0deg);
}

@media (min-width: 640px) {
  .root {
    margin-top: 2rem;
  }
}
