.root {
  padding: 1rem;
  max-width: 56rem;
  margin: 0 auto;
}

.statement {
  margin-top: 1rem;
}

.work {
  margin: 0;
  margin-top: 4rem;
}

.education {
  margin-top: 4rem;
}

@media (min-width: 640px) {
  .statement {
    margin-top: 4rem;
  }
  .work > div:not(:first-of-type) {
    margin-top: 3rem;
  }

  /* for pdf */
  /* .work > div:nth-of-type(n + 2) {
    margin-top: 4.5rem;
  }
  .work > div:nth-of-type(n + 4) {
    margin-top: 2rem;
  } */
}
